<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>410439655220-afof2o68m6mig970gt8uvs6kv9slojs4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410439655220-afof2o68m6mig970gt8uvs6kv9slojs4</string>
	<key>API_KEY</key>
	<string>AIzaSyCTL9JSUR0pxXSKKrQXGUsaXDMJuiGVqP4</string>
	<key>GCM_SENDER_ID</key>
	<string>410439655220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.duocquocgia</string>
	<key>PROJECT_ID</key>
	<string>duocquocgia-3fe52</string>
	<key>STORAGE_BUCKET</key>
	<string>duocquocgia-3fe52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:410439655220:ios:435d003884ab1fcc</string>
	<key>DATABASE_URL</key>
	<string>https://duocquocgia-3fe52.firebaseio.com</string>
</dict>
</plist>
